/ChatEvents.class
/DamageEvents.class
/PlayerEvents.class
/ServerEvents.class
/SignEvents.class
/Spawner.class
/Spawners.class
/WorldEvents.class
/PlayerEvents$1.class
/PlayerEvents$2.class
/PlayerEvents$3.class
