
*.dat
*.dat_old
*.mca
*.lock
*.gz
*.mca
*.lock
ser/world/*
ser/world_the_end/*
*.gz
*.class
*.json
./.idea/*.*
out/*.*
out/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
out/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
out/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
